
services:
  db:
    image: postgres:16
    container_name: gymms_postgresql_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - gymms_network

  web:
    build: .
    container_name: gymms_django
    ports:
      - "443:443"
      - "80:80"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - gymms_network

volumes:
  postgres_data:

networks:
  gymms_network:
    driver: bridge
