# Refer to settings.py INSTALLED APPS []
djangorestframework
django-crispy-forms
crispy-bootstrap5
django-filter
django-extensions

Django>=5.0
psycopg2-binary>=2.9
python-dotenv>=1.0

psycopg2-binary

django-environ>=0.11.2
pillow>=9.0

# Nginx dep
gunicorn>=20.1

# Date utilities
python-dateutil>=2.8.2


